<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
        </handlers>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".php" />
                    <remove fileExtension=".asp" />
                    <remove fileExtension=".aspx" />
                    <remove fileExtension=".jsp" />
                    <remove fileExtension=".py" />
                    <remove fileExtension=".pl" />
                    <remove fileExtension=".sh" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>